body{
    background-color: rgb(198, 164, 55);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.container{
    text-align: center;
}
ul.myUL{
    display: inline-block;
    text-align: left;
}